
/* general */
body{
    font-family: 'Times New Roman', Times, serif;
    margin : 0px;
 
   
} 
span{
    color: #0f4fff;
}
/* header */ 
.Header{
    display: flex;
    align-items: center;
    
}
header h1{
    flex-direction: row;
    font-size: 60px;
    padding: 0px 40px;
    
    

}
.Header img{
    width: 60px;
    height: 65px;
    padding: 10px 0px 10px 10px ;
}
/*Menu*/
.Menu{
    border-top: 2px solid  #0f4fff;
    
  
}
.containerMenu{
    display: flex;
    list-style-type: none;
    align-items: center;
    background-color: #f3f3f3;
    margin: 0%;
   
    
}
.containerMenu li{
    flex-grow: 1;
    flex-direction: row;
    padding:10px;
    font-size: 30px;
    font-weight: bold;
    

}
.containerMenu li:hover{
    flex-grow: 1;
    flex-direction: row;
    padding:10px;
    font-size: 30px;
    font-weight: bold;
    color: #1e50d8;
    

}

/* seccion one */
.ReferenceImage{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ReferenceImage img{
    flex-direction: column;
    width: 700px;
    height: auto;
    padding: 3%;
    margin-top: 2%;
    border: 2px solid #0f4fff;
    
}

/* pharag */
.ThreePharag{
    display: flex;
    background-color: #f3f3f3;
    margin-top: 5%;
    padding-bottom: 5%;
}
.pharag{
    flex-direction: row;
    align-items: center;  
    margin: 1%;
}

.pharag h2{
    font-size: 40px;
    font-weight: bold;
    color: #535353;
    margin-left: 2%;
}
.pharag p{
    font-weight: 700;
    color: #817f7f;
}
.pharag button{
    
    margin-top: 3%;
    padding: 25px;
    border: #f3f3f3;

    text-align: center;
    text-decoration: none;

    font-size: 15px;
    font-weight: bold;
    color:white;
    background-color: #0f4fff;
}
.pharag button:hover{
    padding: 25px;
    font-size: 15px;
    font-weight: lighter;
    color:w#cccccc;
    background-color: #1e50d8;
}

/* footer*/
footer{
    
    display: flex;
    background-color: #252424;
    margin: 0%;
    
}
footer div{
    margin: 2%;
    flex-grow: 2;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    color: #d3d3d3;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
footer h2{
    text-decoration: underline;
}
.footermenu{
    margin-left: 3%;
    padding: 0%;
    text-align: center;
}
footer div ul{
    list-style: none;
}
footer div ul li{
    padding: 2%;
    text-align: center;

}
.whereto{
    text-align: center;
}
.whereto p{
    margin: 0%;
}